.child {
    font-size: 100px;
    padding: 20px;
    text-align: center;
}

.child1{background-color: #009DAE;}
.child2 {background-color: #71DFE7;}
.child3 {background-color: #C2FFF9;}
.child4 {background-color: #FFE652;}
.child5 {background-color: #66806A;}
.child6 {background-color: #B4C6A6;}
.child7 {background-color: #FFC286;}
.child8 {background-color: #FFF1AF;}
.child9 {background-color: #FF6D6D;}
.child10 {background-color: #AE4CCF;}


.parent {
    height: 500px;
    border: solid 5px red;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.child1 {
    /* align-self: center; */
    flex-grow: 1;
}
.child2 {
    flex-grow: 1;
}

.child3 {
    flex-grow: 2;
}

.parent2 {
    display: flex;
}
.parent2 img {
    width: 500px;
    margin-right:  20px;
}

.parent2 p {
    align-self: center;
}